extends ../layout/index

block contenido
    div.py-2
    h1.text-4xl.my-10.font-extrabold.text-center Bienes
        span.front-normal Raices 
    h2.text-center.text-2xl.font-extrabold= pagina   
    div.mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                form.space-y-5                    
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold Tu Nombre :
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Nombre" type="text" name="nombre")
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold Email de Registro :
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Email" type="email" name="email")
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold Contraseña :
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Escribe la contraseña" type="password" name="password")
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold Confirmar Contraseña :
                        input#repetir_password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Confirma la contraseña" type="password" name="repeat_password")

                    div.flex.items-center.justify-between
                        a.text-gray-500.text-xs(href="/auth/login") ¿Ya tienes una cuenta? Inicia Sesión 
                        a.text-gray-500.text-xs(href="/auth/password") Olvide mi contraseña
                    input(class="w-full bg-indigo-600 hover:bg-red-700 text-white font-bold py-3 cursor-pointer"  type="submit" value="Crear Cuenta")    

